.container {
  max-width: 576px;
  margin-top: 59px;
  background-size: cover;
}

.container h4 {
  margin: 15px;
}

.car{
  border-radius: 20px;
}

.item {
  max-height: 295px;
}
/* 
.item img{
border-radius: 20px;
} */




.car .item img {
  margin: 0 auto;
}
