.App {
  text-align: center;
  height: 100vh;
  margin-top: -240px;
  position: relative;
}

.elements {
  display: flex;
  justify-content: center;
}
.title {
  margin-top: 32px;
}



.btn-primary {
  background-color: #475ae2 !important;
  border: 2px solid white !important;
  border-radius: 20px !important;
  width: 89px;
  
}

.active .btn-primary  {
  background-color:white !important;
  color:#475ae2 !important ;

}


.App a {
  margin: 7px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top {
  background-color: #475ae2;
  height: 350px;
  /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%); */
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@900&display=swap');

.App h1{
  font-family: 'Roboto', sans-serif;
  color: white;
}